body {
    background-color: green;
}

#big-box {
    width: 200px;
    height: 200px;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    border: 2px solid black;
}

#small-box {
    width: 100px;
    height: 100px;
    background-color: #8ebf42;
    border: 2px solid black;
}