.body {
    background-color: #5c48d2;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
    border: 3px solid red;
    /* cadre */
    height: 100%;
}

.para1 {
    font-size: 48px;
    font-color: white;
    line-height: 200px;
    text-align: center;
    letter-spacing: 10px;
    border: 3px solid black;
    /* cadre */
}

.main-block {
    width: 1024px;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    margin: 0 auto;
    /*  marges latérales automatiques*/
    text-align: center;
    letter-spacing: 2px;
    border: 3px solid black;
    /* cadre */
    justify-content: space-between;
}

.lien {
    height: 50px;
    font-size: 20px;
    font-color: #190f33;
    font-color: #5c48d2;
    /* couleur au survol du lien */
    border: 1px solid black;
    /* cadre */
    flex: 1;
    /* prendra 1/4 de la largeur totale */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: auto;
}

.nav {
    display: flex;
    /* permet d'aligner horizontalement les noms des liens de la barre de navigation */
}

a {
    -webkit-transition: color 2s;
    transition: color 2s;
    text-decoration: none;
    /* texte non souligne lien */
}

a:hover {
    color: red;
}

.img {
    /* pour que l'image occupe toute la largeur du bloc */
    object-fit: cover;
    /* pour conserver les proportions de l'image, propriété object-fit : cover.*/
    /* justify; effectue l'alignement de axe horizontal = axe principal;  alignement dans la meme direction que la flex-direction */
    /* align; effectue l'alignement de l'axe vertical = axe transversal; alignement dans la direction perpendiculaire de la flex-direction */
    /* Alignement sur l'axe principal ( horizontal ) avec justify-content
	/* la valeur initiale de justify-content  est flex-start. */
    /*margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;*/
    border: 3px solid black;
    display: flexbox;
}

.footer {
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 3px solid black;
    /* cadre */
}